*{
    margin: 0px;
    padding: 0px;
    
    }
    body{
    
    /*<!-background-image: url('Fraud.jpg');*/
    
    background: rgba(250, 250, 250, 0.7);
    background-attachment: fixed;
    background-size: cover;
        font-family: new time roman;
    }
    h1{
    
    font-size: 35px;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    
    }
    
    .main-text{
    margin-left: 15px;
    
    }
    
    .Information{
     font-size: 19px;
     margin-top: 20px;
     font-weight: normal;
     margin-left: 150px;
    }
    
    .form-control{
    
    background: rgba(255, 255, 255, 0.5);
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid white;
    font-size: 16px;
    color: black;
    margin: -45px 10px 5px 400px;
    }
    
    
    .text-center{
    margin:10px 220px 5px 425px;
    
    }
    
    .btn-info{
    
    margin-top: 70px;
    margin-left: 260px;
    margin-bottom: 40px;
    width: 180px;
    font-size: 15px;
    border-radius: 1000px;
    
    }
    
    
    .mainborder{
    background: rgba(230, 230, 230, 0.9);
    border-radius: 5px;
    
    }
    
    .forminfo{
    margin-left: 65px;
    color: black;
    
    }
    
    a{text-decoration: none;}
    
    nav{
    
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
    background: #111;
    background: linear-gradient(#e6e6e6, #f2f2f2 ,#e6e6e6);
    text-decoration-color: black;
    
    }
    
    nav ul {
    
        list-style: none;
    }
    
    nav ul li{
    
    display: inline;
    }
    
    nav ul li a{
    
    text-transform: uppercase;
    margin: 20px 60px 20px 60px;
    color: black;
    display: inline-block;
    
    }
    
    nav ul li a:hover{
    
        color: #666666;
    }
    table{
    margin: 50px 200px 10px 200px;
    font-size: 18px;
    }
    